<div data-sly-use.model="com.carproject.core.models.CarFilterModel">
    <div  class="" data-sly-list="${model.filteredCars}">
        <div class="c-body">
            <div>
                <h3 class="c-title">${item.brand}</h3>
            </div>
            <div class="c-items">
                <p>Car model: ${item.model} </p>
                <p>Description: ${item.description} </p>
                <p>Km: ${item.km} </p>
                <p>Year: ${item.year} </p>
            </div>
            <button class="c-button">Buy Me!</button>
        </div>
    </div>
</div>
