<div data-sly-use.model="com.carproject.core.models.CarFilterModel">
    <h2>Cars</h2>
    <div data-sly-list="${model.filteredCars}">
        <div>
            <div>
                <h3>${item.brand}</h3>
            </div>
            <div>
                <p>${item.description} </p>
                <p>Car model: ${item.model} </p>
                <p>Km: ${item.km} </p>
                <p>Year: ${item.year} </p>
            </div>
            <button> Buy</button>
        </div>
    </div>
</div>
