<div class="inner">
    <h1 class="l-title">London Eye</h1>
    <img
            src="https://images.squarespace-cdn.com/content/v1/5534c00ee4b0c15a102700d6/1432231080677-99QDX1332VXGE7UN2WPI/%3Cimg+src%3D%22Big+Ben%22+alt%3D%22London+eye+river+thames+london+bridge+long+exposure+lee+filters+lee+ramsden+monochrome+black+and+white+fine+art%22%3E?format=1000w"
            id="l-img"
    />
    <p>
        The London Eye, or the Millennium Wheel, is a cantilevered observation wheel
        on the South Bank of the River Thames in London. It is Europe's tallest
        cantilevered observation wheel,and is the most popular paid tourist
        attraction in the United Kingdom with over 3 million visitors annually.

        It has made many appearances in popular culture.The structure is 135 metres
        tall and the wheel has a diameter of 120 metres.<br />
        When it opened to the public in 2000 it was the world's tallest Ferris
        wheel. Its height was surpassed by the 160 metres Star of Nanchang in
        2006,<span id="dots">...</span
    ><span id="more"
    >the 165 metres Singapore Flyer in 2008, and the 167 metres High Roller
      (Las Vegas) in 2014. <br />
      Supported by an A-frame on one side only, unlike the taller Nanchang and
      Singapore wheels, the Eye is described by its operators as "the world's
      tallest cantilevered observation wheel".<br />

      The London Eye used to offer the highest public viewing point in London
      until it was superseded by the 245-metre-high (804 ft)[18] observation
      deck on the 72nd floor of The Shard, which opened to the public on 1
      February 2013. <br />

      The London Eye adjoins the western end of Jubilee Gardens (previously the
      site of the former Dome of Discovery), on the South Bank of the River
      Thames between Westminster Bridge and Hungerford Bridge beside County
      Hall, in the London Borough of Lambeth. The nearest tube station is
      Waterloo.
    </span>
    </p>

    <button onclick="myFunction()" id="btn">Read more</button>
</div>